html, body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: monospace;
  font-weight: 400;
  font-size: 1em;
  font-display: optional;
  color: #444;
  background-color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  overflow: hidden;
}
input {
	font-size: 1.2em;
	height: 34px;
	color: white;
	background: none;
	border: solid white 1px;
}
.text-button {
	border: none;
	margin: 10px;
	padding: 5px;
	font-size:1.2em;
	font-weight: bold;
	color: white;
	background: none;
	float: right;
}
.text-button:disabled {
	color: gray;
}
.round-button {
	display: block;
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 50%;
	background: none;
	z-index: 50;
}
.round-button img {
	display: block;
	width: 24px;
	height: 24px;
}
.logList {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    transition: opacity 0.2s ease-in-out;
    padding: 0 0.5em;
}
.log-item {
	height:24px;
	display: block;
	font-family: monospace;
	font-weight: bold;
	font-size: 1em;
}
.dialog {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	padding: 10px;
	color: white;
	background-color: #000;
	z-index: 15;
	display: none;
}
.dialog > div {
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}
.right {
	float: right;
	right: 5px;
}
.grey {
	color: silver;
	display: block;
	position: absolute;
	float: left;
	margin-left:2%;
}
.red {
	color: hotpink;
	display: block;
	position: absolute;
	float: left;
	margin-left:20%;
}
.orange {
	color: orange;
	display: block;
	position: absolute;
	float: left;
	margin-left:40%;
}
.blue {
	color: skyblue;
	display: block;
	position: absolute;
	float: left;
	margin-left:60%;
}
.green {
	color: lightgreen;
	display: block;
	position: absolute;
	float: left;
	margin-left:80%;
}
/*
.yellow {
	color: yellow;
	display: block;
	position: absolute;
	float: left;
	margin-left:84%;
}
*/
.dialog-title {
  padding-top: 20px;
  font-size: 1em;
  font-weight: bold;
}
.dialog-body {
  padding-top: 5px;
  padding-bottom: 5px; }
  
.dialog-body select {
    width: 30%;
	height: 32px;
	font-size: 1em;
	color: white;
	background-color: black;
}
.add-button {
	width: 50px;
    height: 50px;
    border: none;
    float: right;
	background: none;
    background: url(add24px.svg) center center no-repeat;
}
.save-button {
    width: 50px;
    height: 50px;
    border: none;
    float: right;
	background: none;
    background: url(ok24px.svg) center center no-repeat;
}
.delete-button {
    width: 50px;
    height: 50px;
    border: none;
    float: left;
	background: none;
	background: url(delete24px.svg) center center no-repeat;
}
#fileChooser {
	width: 100%;
	margin: 10px;
	font-size: 1.5em;
	background-color: #000;
}
#logDate {
	width: 120px;
	height: 34px;
	font-family: 'Courier',monospace;
}
#heading {
	position: fixed;
	top: 0;
	left: 0;
	height: 28px;
	width: 100%;
	font-size: 1.5em;
	font-family: 'Courier',monospace;
	font-weight: bold;
	font-size: 1em;
	color: white;
	background-color: black;
	display='block';
}
#main {
	position: fixed;
	left: 0;
	width: 100%;
	background-color: #444;
}
#listPanel {
	position: fixed;
  width: 100%;
  height: 100%;
  margin-top: 32px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #444;
  display: block;
  z-index: 5;
}
#curtain {
	position: fixed;
	left:0;
	top: 0;
	width: 100%;
	height: 0;
	background-color: #444;
	opacity: 0.6;
	z-index: 10;
}
#graphPanel {
	position: relative;
	left: 0;
	top: 0;
	height: 100%;
	display: none;
	z-index: 10;
}
#graphBackground {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 5;
}
#buttonNew {
	right: 20px;
	bottom: 20px;
	background: url(add.svg) center center no-repeat;
}

